body {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

canvas {
    position: absolute;
}
.container {
    display: flex;
    flex-direction: column; 
}
.container h1{
    color: orange;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


